@import '../../assets/variables';

.contacts-navigation {
  position: absolute;
  top: 25px;
  right: 15px;
  display: flex;
  gap: 8px;

  .contacts-navigation_link {
    padding: 5px;
    background-color: $color-gray-button;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-navigation_item {
    width: 24px;
    fill: $color-white;
  }
}
