@import '../../assets/variables';

.segment-control {
  &.segment-control--secondary {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .segment-control__item {
      display: flex;
      flex-direction: unset;
      width: 50%;
      padding: 5px;
      min-width: 280px;
    }

    .segment-control__label {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #707070;
      padding: 0 10px;
      width: 100%;
      height: 45px;
    }
  }

  &.segment-control--primary,
  &.segment-control--thready {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .segment-control__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 188px;
      height: 188px;
      padding: 4px;

      @media (max-width: 800px) {
        width: 158px;
        height: 158px;
      }

      @media (max-width: 400px) {
        width: 128px;
        height: 128px;
      }
    }

    .segment-control__label {
      margin-top: 8px;
    }
  }

  .segment-control__item {
    border: 1px solid $color-white;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-red;
    }

    &:active {
      border: 1px solid $color-red;
    }
  }

  .segment-control__label {
    @include font-small;
    text-align: center;
    font-size: 20px;
  }

  .segment-control__img {
    width: 120px;
    height: 120px;
  }

  &.segment-control--thready {
    .segment-control__img {
      width: 156px;
      height: 156px;
    }
  }

  .segment-control__icon-block {
    height: 100%;
    background-color: $color-gray-button;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #707070;
    }
  }

  @media (max-width: 800px) {
    &.segment-control--thready {
      .segment-control__img {
        width: 127px;
        height: 127px;
      }
    }

    .segment-control__img {
      width: 110px;
      height: 110px;
    }

    .segment-control__icon-block {
      &:hover {
        background-color: $color-gray-button;
      }
    }

    .segment-control__item {
      &:hover {
        border: 1px solid $color-white;
      }
    }
  }

  @media (max-width: 460px) {
    .segment-control__item {
      //max-width: 150px;
    }

    //.segment-control__img {
    //  margin: 27px 0;
    //  width: 150px;
    //}

    .segment-control__label {
      font-size: 18px;
    }
  }

  @media (max-width: 400px) {

    &.segment-control--thready {
      .segment-control__img {
        width: 100px;
        height: 100px;
      }
    }

    .segment-control__img {
      width: 100px;
      height: 100px;
    }

    .segment-control__label {
      font-size: 14px;
    }
  }

  .segment-control__input {
    height: 0;
    width: 0;
    margin: 0;
    opacity: 0;
  }
}
