@import '../../assets/variables';

.main-header {
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 15px 135px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../assets/main-background-darkly.jpeg');
  background-size: cover;
  background-position: center 33%;
  background-repeat: no-repeat;

  .main-header__logo {
    width: 150px;

    @media (max-width: 500px) {
      align-self: start;
    }
  }

  .main-header__address {
    @include font-small;
    font-weight: 300;
    margin-top: 12px;
  }

  .main-header__title {
    @include font-super-large;
    margin: 28px 0;
  }

  .main-header__title-sale {
    color: $color-red;
  }

  .main-header__description {
    @include font-middle;
    width: 55%;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .main-header__button {
    @include font-small;
    width: 250px;
    text-align: center;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: $color-white;
    background-color: $color-gray-button;
    z-index: $main-z-index;

    &:hover {
      background-color: #707070;
    }
  }

  @media (max-width: 1356px) {
    .main-header__description {
      width: 100%;
    }
  }

  @media (max-width: 720px) {
    .main-header__title {
      font-size: 34px;
    }

    .main-header__description {
      font-size: 22px;
    }
  }
}

